html, body {margin: 0;padding: 0;}

body {
    overflow: hidden;
    scroll-behavior: smooth;
    background: #172467;
}

.titlebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 100vw;
    z-index: 500;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.appOuter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 30px 0 12px 0;
}



.tabbar {
    margin: 0 20px;
    position: absolute;
    left: 0px;
    height: calc(100% - 60px);
    background: #07064D;
    box-shadow: 0px 0px 5px #000;
}
    .tabbar > .tablist {

    }
        .tablist div.tab {
            background: #07064D;
            box-shadow:  5px 5px 10px #03021f, -5px -5px 10px #0b0a7b;
            border-radius: 5px;
            width: 40px;
            margin: 10px;
            height: 40px;
            outline: none;
        }
            .tablist div.tab > img {
                width: 20px;
                height: 20px;
                margin: 10px;
            }

            .tablist  div.tab[aria-selected=true] {
                box-shadow: inset 5px 5px 10px #03021f, inset -5px -5px 10px #0b0a7b;
            }
                .tablist  div.tab[aria-selected=true] > img {
                    width: 18px;
                    height: 18px;
                    margin: 12px;
                }



    .tabbar > .addbtn {
        background: #07064D;
        box-shadow:  5px 5px 10px #03021f, -5px -5px 10px #0b0a7b;
        border: 0;
        border-radius: 5px;
        width: 40px;
        margin: 10px;
        height: 40px;
        outline: none;
        color: rgb(255 255 255 / 65%);
    }
        .tabbar > .addbtn:hover{
            background: linear-gradient(145deg, #060545, #070652);
            box-shadow:  5px 5px 10px #03021f, -5px -5px 10px #0b0a7b;
        }
        .tabbar > .addbtn:active {
            box-shadow: inset 5px 5px 10px #03021f, inset -5px -5px 10px #0b0a7b;
        }

        .tabbar > .addbtn > svg {
            height: 18px;
            width: 18px;
        }
        .tabbar > .addbtn:active > svg {
            height: 15px;
            width: 15px;
        }

    .container {
        overflow: auto;
        overflow-y: hidden;
        white-space: nowrap;
        box-sizing: border-box;
        padding: 0 500px 10px 100px;
        height: 100%;
    }  
        .container resize-window {
            outline: none;
            display: inline-block;
            height: 100%;
            margin-left: 5px;
        }
            .container resize-window browser-window {
                height:100%;
            }

        .container::-webkit-scrollbar {
            height: 8px;
        }
        
        .container::-webkit-scrollbar-thumb {
            opacity: 0.5;
            background: rgba(255, 255, 255, 0.2);
            transition: background 0.5s;
            border-radius: 10px; 
        }
            .container::-webkit-scrollbar-thumb:hover {
                background: rgba(255, 255, 255, 0.8); 
            }

